/* Pour ne pas qu'un élément soit caché par la barre de navigation */
body {
	margin-top: 86px;
}

footer {
	background-color: rgb(181, 199, 211);
}

.main {
	min-height: 84vh;
}

.frontmain {
	min-height: 40vh;
}

#logo {
	height: 70px;
}

.banner {
	display: flex;
	height: 350px;
	background-image: url("../images/alaska-68126_1920.jpg");
	background-position: 25%;
}

.title {
	margin: auto;
	text-align: center;
}

.form {
	width: 35%;
	background-color: rgb(181, 199, 211);
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	border: 1px solid rgb(101, 142, 198);
	border-radius: 5%;
}

.btn {
	background-color: rgb(101, 142, 198);
	border: 1px solid rgb(101, 142, 198);
}

.btn:hover {
	color: rgb(31, 49, 71);
}

.fab, .far {
	color: rgb(101, 142, 198);
	font-size: 2em;
}

a {
	color: rgb(33, 37, 41);
}

a:hover {
	text-decoration: none;
	color: rgb(31, 49, 71);
}

#navbarContent~ .collapse:not(.show) {
	display: none;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.vmargin {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.hmargin {
	margin-right: 5px;
	margin-left: 5px;
}

.container-fluid {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

table tr:nth-child(2n+1) {
    background-color: rgb(181, 199, 211);
}

/* Mise en page Back */

#createbook {
	border: 3px solid rgb(101, 142, 198);
	border-radius: 5%;
	width: 95px;
	height: 150px;
	text-align: center;
}

.fa-plus {
	color: rgb(181, 199, 211);
	font-size: 2em;
	padding-top: 30%;
}

#formAddBook {
	padding-top: 50px;
}

#coverImg {
	height: 200px;
	width: 100%;
	margin-bottom: 5px;
	text-align: center;
}

.center {
	margin-left: 0px;
	padding-left: 0px;
}

#cover {
	max-height: 100%;
	max-width: 100%;
	margin: auto;
	display: block;
}

#resume {
	height: 200px;
}

.bookcover {
	height: 150px;
	width: 95px;
}

.bookdetailsbtn {
	margin-left: 10px;
	color: rgb(181, 199, 211);
	font-weight: bold;
}

.jfPortrait {
	width: 100%;
}

.editicon {
	margin-left: 6px;
}

.editiconout {
	margin-left: 19px;
}

.text-blue {
	color: rgb(101, 142, 198);
}

.flex {
	display: flex;
	align-items: center;
}

.tinymce {
	height: 75vh;
}

/* Mise en page Front */
.comment {
	background-color: rgb(181, 199, 211);
	border: 1px solid rgb(101, 142, 198);
	border-radius: 3px;
	margin: 5px;
}

#bmbtn {
	border: 0px;
	background-color: transparent !important;
	width: 100%;
}

.asiderow {
	margin-right: -15px !important;
	margin-left: -15px !important;	
}

.fa-bookmark {
	margin-left: 20px;
}

#lastBook, #author {
	padding-top: 86px;
	margin-top: -80px;
}

/* Responsive */

/* tablette */
@media all and (max-width: 992px) {

	.logo {
		margin: auto;
	}

	.dbtitle {
		display: none;
	}

	.btndetails {
		display: none;
	}

	.btnicon {
		margin: auto;
	}

	.basketbtn {
		width: 100%;
	}

	.textbtn {
		display: none;
	}

	.editicon {
		margin: auto;
	}

	.editiconout {
		margin: auto;
	}
}

/* smartphone */
@media all and (max-width: 767px) {

	.btnreadme {
		text-align: center;
	}

	.btnregister {
		margin: auto;
	}

	.gray {
		display: none;
	}

}